<div class="padding-50"
style="background: {{ section.settings.bg }}">{% include 'related-products' %}</div>

{% schema %}
{
   "name": "Related Products",
    "settings": [
      {
          "type": "header",
          "content": "Related products"
      },
      {
          "type": "color",
          "id": "bg",
          "label": "Background",
          "default": "#faf9f7"
      },
      {
          "type": "checkbox",
          "id": "display_related_products",
          "label": "Show related products ([?](https:\/\/help.outofthesandbox.com\/hc\/en-us\/articles\/115006909487-Related-Products))",
          "default": true
      },
      {
          "type": "radio",
          "id": "related_products_style",
          "label": "Layout",
          "default": "grid",
          "options": [
          {
              "value": "slider",
              "label": "Slider"
          },
          {
              "value": "grid",
              "label": "Grid"
          }
          ]
      },
      {
          "type": "range",
          "id": "related_products_limit",
          "label": "Limit products",
          "min": 2,
          "max": 50,
          "step": 1,
          "default": 12
      },
      {
          "type": "range",
          "id": "products_per",
          "label": "Products per row",
          "min": 3,
          "max": 5,
          "step": 1,
          "default": 3
      }
    ]
}
{% endschema %}