<div class="product-template__container">

{% assign number_of_related_products_per_row = section.settings.related_grid_num %}
{% assign number_of_rows = 1 %}


{% assign same_vendor = false %}
{% assign same_type = false %}
{% assign exclusions = 'frontpage,all' | split: ',' %}

{% if product.metafields.c_f['Related Products'] %}
  {% assign collection = collections[product.metafields.c_f['Related Products']] %}
{% endif %}

{% assign found_a_collection = false %}
{% if collection and collection.all_products_count > 1 %}
  {% unless exclusions contains collection.handle %}
    {% assign found_a_collection = true %}
  {% endunless %}
{% endif %}
{% unless found_a_collection %}
  {% for c in product.collections %}
    {% unless exclusions contains c.handle or c.all_products_count < 2 %}
      {% assign found_a_collection = true %}
      {% assign collection = c %}
      {% break %}
    {% endunless %}
  {% endfor %}
{% endunless %}

{% comment %}
  If we have a relevant collection.
{% endcomment %}

{% if found_a_collection %}

  {% assign counter = 0 %}
  {% assign break_at = number_of_rows | times: number_of_related_products_per_row %}
  {% assign current_product = product %}
  
  {% case number_of_related_products_per_row %}
    {% when '2' %}
      {% assign grid_item_width = 'medium-down--one-half small-down--one-whole one-half' %}
  	  {%- assign max_height = 530 -%}
    {% when '3' %}
      {% assign grid_item_width = 'medium-down--one-half small-down--one-whole one-third' %}
      {%- assign max_height = 345 -%}
    {% when '4' %}
      {% assign grid_item_width = 'medium-down--one-half small-down--one-whole one-fourth' %}
      {%- assign max_height = 250 -%}
  {% endcase %}


  {% capture related_items %}
  <div class="grid grid--uniform{% if collection.products_count > 0 %} container{% endif %}
  is-flex is-align-center text-align-center is-justify-space-between is-flex-wrap">

  {% for product in collection.products %}
  {% unless product.handle == current_product.handle %}
  {% unless same_vendor and current_product.vendor != product.vendor %}
  {% unless same_type and current_product.type != product.type %}
  <div class="grid__item {{ grid_item_width }}">
    {% render 'product-thumbnail',
    product: product,
    mobile_products_per_row: '1',
    product_rec: true

%}
  </div>
  {% assign counter = counter | plus: 1 %}
  {% if counter == break_at %}
  {% break %}
  {% endif %}
  {% endunless %}
  {% endunless %}
  {% endunless %}
  {% endfor %}
</div>
  {% endcapture %}

  {% assign related_items = related_items | trim %}

  {% unless related_items == blank %}

  <aside class="grid has-small-margins">
    <div class="grid__item">
        <div class="container bottom-fix">
            <div class="related-products__title {% unless section.settings.rv_products_style == 'slider' %}sixteen columns{% endunless %}">
              <h2 class="title center">{{ section.settings.title }}</h2>
              <div class="feature_divider"></div>
            </div>
        </div>
      <div class="grid-uniform">
        {{ related_items }}
      </div>
    </div>
  </aside>

  {% endunless %}
     
{% endif %}
  
</div>

{% schema %}
{
  "name": "Related products",
  "settings": [
    {
      "id": "title",
      "type": "text",
      "label": "Section title",
      "default": "Other fine products"
    },
    {
      "type": "select",
      "id": "related_grid_num",
      "label": "Products per row (Desktop)",
      "default": "4",
      "options": [
        {
          "value": "2",
          "label": "2"
        },
        {
          "value": "3",
          "label": "3"
        },
        {
          "value": "4",
          "label": "4"
        }
      ]
    }
  ]
}
{% endschema %}