<a name="pagecontent" id="pagecontent"></a>
<div class="index-sections">
  {{ content_for_index }}
</div>

{% include 'nosto-element' with 'frontpage-nosto-3' %}

{% include 'nosto-element' with 'frontpage-nosto-4' %}
